﻿<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="~/Content/Sidebar.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!--Main Navigation-->
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>BBBOOTSTRAP</h3>
                <hr>
            </div>
            <ul class="list-unstyled components">
                <p>MENUS</p>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Dashboard</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>	<a href="#">Dashboard1</a>	</li>
                        <li>	<a href="#">Dashboard2</a>	</li>
                        <li>	<a href="#">Dashboard3</a>	</li>
                    </ul>
                </li>
                <li>	<a href="#">Users</a>	</li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Subscribers</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>	<a href="#">Active</a>	</li>
                        <li>	<a href="#">Idle</a>	</li>
                        <li>	<a href="#">Non Active</a>	</li>
                    </ul>
                </li>
                <li>	<a href="#">Timeline</a>	</li>
                <li>	<a href="#">Live Chat</a>	</li>
                <li>	<a href="#">Likes</a>	</li>
                <li>	<a href="#">Comments</a>	</li>
                <li>	<a href="#">Comments</a>	</li>
                <li>	<a href="#">Comments</a>	</li>
                <li>	<a href="#">Comments</a>	</li>
                <li>	<a href="#">Comments</a>	</li>
                <li>	<a href="#">Comments</a>	</li>
            </ul>	<ul class="list-unstyled CTAs">
                <li>	<a href="#" class="download">Subscribe</a>	</li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button id="sidebarCollapse">
                    ☰
                </button>
                <div class="container-fluid">
                    <a href="#" class="navbar-brand">Brand</a>
                    <button id="sidebarCollapse" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        ☰
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="#" class="nav-item nav-link active">Home</a>
                            <a href="#" class="nav-item nav-link">Profile</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Inbox</a>
                                    <a href="#" class="dropdown-item">Sent</a>
                                    <a href="#" class="dropdown-item">Drafts</a>
                                </div>
                            </div>
                        </div>
                        <form class="d-flex">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                            </div>
                        </form>
                        <div class="navbar-nav">
                            <a href="#" class="nav-item nav-link">Login</a>
                        </div>
                    </div>
                </div>
            </nav>	@*<div class="content-wrapper">*@
            @*<div class="content">
                <div class="container body-content">*@
            <h2>
                Collapsible Sidebar Using Bootstrap 4adsrestrydugtfkhlj;iiklhhmbnvbcvxfdDfsxzvcbvn  mkhjnmbnvbcXZCxvcbbvzfgdhfjghjhfgdhfgfcfcbvnbvcxcvb vcxzxcvbvcxcvbvcx
                zfxvcbvnjhgfdsfghjgfdszdfgh  bnhjkioiuyrew    qweyrujtgnvbcvxzzzdfghjuyjhbnbvcs  atydhfghkkkkkkujmhgnbfvcscsfvdgbfhfjggbfvddddddfghjhgfd
            </h2>
            @*</div>
                </div>*@
            @*<div class="line"></div>
                </div>*@
            @RenderBody()
        </div>
    </div>

    @*<div class="content">
            <div class="container body-content">
                @RenderBody()
            </div>
        </div>*@
    <!--Main Navigation-->
    <!--Main layout-->
    @*<main style="margin-top: 58px">
            <div class="container pt-4">
                @RenderBody()
            </div>
        </main>*@
    <!--Main layout-->
    <!--<div class="container body-content">-->
    @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    <!--</div>-->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/SidebarScript.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
